<!-- btn dropdown of hidden circles -->
<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
    Display<span class="caret"></span>
  </button>
  <ul class="dropdown-menu circle-hidden-ul" role="menu">
  </ul>
</div>
