<div class="form-group">
  <input class="form-control" 
    id="new-circle-name" type="text" placeholder="Circle Name">
</div>

<div class="form-group">
  <input type="submit" id="new-circle-btn" 
    class="btn btn-info" value="New Circle">
</div>
