<div class="row">
  <% circles.each( function(circle) { %>
    <li>
      <%= circle.escape("circle_name") %>
      <ul class="circles-ul" data-id=<%= circle.id %>>
      </ul>
    </li>
  <% }) %>
<div>
