<!-- 
1. Each single is down as a panel
2. Each panel contains a list group for memberships
3. List group items are associates of user by circle
-->
<div class="panel panel-info">

  <!-- Circle header -->
  <div class="panel-heading">
    <%= circle.escape("circle_name") %> 

    <!-- [-] Hide btn -->
    <button type="button" class="circle-minimize" >&ndash;</button>

    <!-- [X] close btn -->
    <% if (circle.escape("removable") != "false") { %>
      <button type="button" class="close circle-close" >&times;</button>
    <% } %>
  </div>

  <!-- Circle members -->
  <div class="panel-body">
    <ul class="list-group circle-members"></ul>
  </div>
</div>
