<h1>Headbook</h1>

<form action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <div class="session form-group">
    <label for="user_username">Username</label>
    <input
       class="form-control"
       id="user_username"
       name="user[username]"
       type="text">
  </div>

  <div class="session form-group">
    <label for="user_password">Password</label>
    <input
       class="form-control"
       id="user_password"
       name="user[password]"
       type="password">
  </div>

  <input type="submit" class="btn btn-primary" value="Log in">
</form>
<div class="spacer">
<%= button_to("Log in as Wenbo", 
              session_url(:user => { :username => "wenbo", :password => "asd" }), 
              :class => "btn btn-warning col-xs-1.5") %>
<%= button_to("Log in as Eric", 
              session_url(:user => { :username => "eric", :password => "asd" }), 
              :class => "btn btn-danger col-xs-1.5") %>
</div>

