<form enctype="multipart/form-data">
  <label for="photo-title">Photo Title</label>
  <input id="photo-title" name="photo[title]" type="text">

  <label for="photo-url">Photo URL</label>
  <input id="photo-url" name="photo[url]" type="text">

  <label for="photo-circle-id">Photo Circle</label>
  <input id="photo-circle-id" name="photo[circle_id]" type="text">

  <input type="file" name="photo[file]">
 
  <input type="submit" id="new-photo-btn" value="Add Photo">
</form>

