<form>
  <label for="post-body">Post Body</label>
  <input id="post-body" type="text">

  <select id="post-circle-id">
    <% circles.each( function(circle) { %>
      <option value=<%=circle.id%>>
        <%= circle.escape("circle_name") %>
      </option>
    <% }) %>
  </select>

  <input type="submit" id="new-post-btn" value="Add Post">
</form>

<ul>
  <% posts.each( function(post) { %>
    <li>
      <%= post.escape("body") %>
    </li>
  <% }) %>
</ul>
