<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="post-body">Post Body</label>
    <input class="form-control" id="post-body" type="text"
      name="body" placeholder="What're ya thinkin?">
  </div>

  <div class="form-group">
    <select class="form-control" name="circle_id" id="post-circle-id">
      <% circles.each( function(circle) { %>
        <option value=<%=circle.id%>>
          <%= circle.escape("circle_name") %>
        </option>
      <% }) %>
    </select>
  </div>

  <div class="form-group">
    <input class="btn btn-info" type="submit" 
      id="new-post-btn" value="Thunk">
  </div>
</form>

<div class="row spacer">
  <ul class="col-xs-6 col-xs-offset-.1 list-group posts-container">
  </ul>
</div>

