<form>
  <label for="post-body">Post Body</label>
  <input id="post-body" type="text">

  <label for="post-circle">Post Circle</label>
  <input id="post-circle" type="text">
 
  <input type="submit" id="new-post-btn" value="Add Post">
</form>

<ul>
  <% posts.each( function(post) { %>
    <li>
      <%= post.escape("body") %>
    </li>
  <% }) %>
</ul>
