<form action="<%= users_url %>" method="post">
  <input
     name="_method"
     type="hidden"
     value="<%= "post" %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <div class="user-form form-group">
    <label for="user_email">Email</label>
    <input
       class="form-control"
       id="user_email"
       name="user[email]"
       type="text">
    <br>
  </div>

  <div class="user-form form-group">
    <label for="user_username">Username</label>
    <input
       class="form-control"
       id="user_username"
       name="user[username]"
       type="text">
    <br>
  </div>

  <div class="user-form form-group">
    <label for="user_password">Password</label>
    <input
       class="form-control"
       id="user_password"
       name="user[password]"
       type="password">
    <br>
  </div>

  <input type="submit" class="btn btn-primary" value="Create Account">
</form>
