<li class="list-group-item ui-state-default">
  <img class="img-rounded"
    src="http://www.gravatar.com/avatar/<%= membership.escape('email_md5') %>" />

  <%= membership.escape("username") %>
</li> 

