<h1> Your Posts </h1>

<form>
  <label for="post-body">Post Body</label>
  <input id="post-body" type="text">

  <label for="post-circle-id">Post Circle</label>
  <input id="post-circle-id" type="text">
 
  <input type="submit" id="new-post-btn">
</form>

<ul>
<% @user.posts.each do |post| %>
  <li>
    <%= post.body %>
  </li>
<% end %>
</ul>
