<h1> Your Circles </h1>

<% current_user.circles.each do |circle| %>

  <h2> <%= circle.circle_name.capitalize %> </h2>

  <ul>
    <% circle.memberships.each do |m| %>
      <% user = User.find(m.user_id) %>
      <li> <%= user.username.capitalize %> </li>
    <% end %>
  </ul>

<% end %>
